@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #033473;
}

header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Macondo', cursive;
  font-size: 2rem;
  color: #28930b;
  border-bottom: #167d70 2px groove;
  padding: 0;
}

select {
  width: 6rem;
  margin-top: 1rem;
  box-shadow: 0 0 15px #07c41a;
  border-radius: 15px;
  background-color: #221007;
  color: #ffff;
}

.container {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color:gray;
  flex-wrap: wrap;
}

.boards {
  width: 100%;
  margin-top: 0.5rem;
}

.boards > fieldset {
  width: 100%;
  height: 1rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: #2b2e2e 2px groove;
}

hr {
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.container input {
  border-radius: 15px;
  padding-left: 1rem;
  width: 80%;
}

.container textarea {
  width: 80%;
  border-radius: 15px;
  margin-top: 5px;
  padding-left: 1rem;
}

h2,h4 {
  text-align: center;  
}

main {
  width: 80%;
  height: 40rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#generate {
  width: 8rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}

#generate:hover,
#generate:focus {
  cursor: pointer;
  background-color: #28930b;
  font-weight: 900;
  color: #ffff00;
}

.card-task {
  width: 80%;
  height: auto;
  margin: 0.5rem;  
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.btn-close {
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
  background-color: #b31408;
  font-weight: 900;
  color: #ffff00;
}


.card-task h2 {
  font-size: 1rem;
  border-bottom: solid green 1px;
}

.card-task p {
  font-size: 1rem;
  height: 2rem;
  border-bottom: solid green 1px;
}

.card-task select {
  width: 100%;  
  text-align: center;
  font-size: 1rem;
}

.list {
  width: 25%;
  height: 90%;
  border: groove 6px orange;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-color: #4cbbee;
}

.list h2 {
  width: 100%;
  height: 20%;
  text-align: center;
  padding: 0.2rem;
}

.list p {
  width: 100%;
  height: 20%;
  text-align: center;
}

.principal {
  width: 100%;
  display: flex;
  justify-content: center;
}

